.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#header{
  position: flex;
  flex-direction: row;
  background-color: white;
  height: 12vh;
  width: 100vw;
  position: fixed;
}

#namespace{
  margin-top: 3vh;
  margin-left: 20vh;
}

#navbar li{
  display: inline-flex;
  margin-left: 2vw;
}

#navbar{
  position: flex;
  flex-direction: row;
  width: 50vw;
  height: 8vh;
  margin-left: 45vw;
  margin-top: 2vh;
}

#navitems{
  position: flex;
  flex-direction: row;
}
#images{
  height: 150vh;
  width: 100vw;
  background-image: url('./images/painting.jpg');
  background-size: cover;

}

#bodytop{
  height: 150vh;
  width: 100vw;
  background-color: white;
}

#bodymiddle{
  height: 300vh;
  width: 100vw;
  background-color: darkgray;
}

#bodybottom{
  height: 50vh;
  width: 100vw;
  background-image: url('./images/roofing.jpg');
  background-size: auto;
  background-repeat: no-repeat;
  position: fixed;
  position: absolute;

}

#footertop{
  height: 30vh;
  width: 100vw;
  background-color: darkslateblue;
}

#footermiddle{
  height: 40vh;
  width: 100vw;
  background-color: grey;
}

#footerbottom{
  height: 10vh;
  width: 100vw;
  background-color: black;
}
